.content-area {
	float: right;
	margin: 0 0 0 (-$size_boilerplateite-sidebar);
	width: $size_boilerplateite-main;
}

.site-main {
	margin: 0 0 0 $size_boilerplateite-sidebar;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size_boilerplateite-sidebar;
}

.site-footer {
	clear: both;
	width: $size_boilerplateite-main;
}