$color__primary: #00f;
$color__secondary: #0f0;

$color__gray: #ccc;
$color__dark: #1a1a1a;
$color__mid: #777;
$color__light: #f2f2f2;

$color__copy: #404040;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__background-hr: #ccc;
